<div>
    <p>Balconi Company</p>
    <p>Dear Sir </p>

    <h3>I have got a msg about test form that submit its data to an email address </3>
    <h4>I have comeleted the test using python with django as backend ,Sqlite , javascript, bootstrap , ajax , jquery and pure css animation  </h4>
    <div>
    <h2>The Form Submited Data </h2>
    <p>First Name : {{msg.first}} </p>
    <p>Last Name : {{msg.last}} </p>
    <p>Email : {{msg.email}} </p>
    <p>Phone : {{msg.phone}} </p>
    <p>About : {{msg.about}} </p>
    <p>GitHub Link : {{msg.github}} </p>
    <p>LinkedIn : {{msg.linkedin}} </p>
    <p>Latest Work : {{msg.work}} </p>
    <p>Achivements : {{msg.achive}} </p>
    <p>Country : {{msg.country}} </p>
    <p>City : {{msg.city}} </p>
    <p>Post Code : {{msg.postCode}}</p>
</div>
</div>